{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{% load staticfiles %}
{{block.super}}
<div class="container">
    <div class="row">
<div class="col-md-2"></div>

<div class="col-md-8">
    
    {% for image in images%}
<a href="{% url 'profile' %}"><p style="color:black;font-weight:bolder;text-decoration:none;"><b>{{user.username}}</b></p></a>

     <img src="{{image.image.url}}" alt="image" class="img-responsive"style="width: 550px; height: 550px;">
    <ul class="list-inline">
        <li class="list-inline-item">
            <button > <a href="comment/{{image.id}}">COMMENT</a></button>
        </li>
    </ul>

    {% endfor %}
    </div>

</div>
<div class="col-md-2"></div>
</div>



{% endblock %}