{%extends 'base.html'%}
{% block content %}
{{block.super}}
<h1 class='text-center'>Instagram</h1>

{% for image in images%}
<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="card-header">
    <h3>{{image.image_name}}</h3>
    <h4 style="display: inline-block; "><img src="{{image.profile_photo.url}}" class="img-circle" alt="Image"
        style="height: 25px; width: 25px;">
    </h4>
    </div>
    <div class="card-body">
    <img src="{{image.image.url}}" alt="image" class="img-responsive">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="far fa-comment"></i>      <i class="far fa-heart"></i></li>
        <li class="list-group-item"><b>comments</b> {% autoescape on%}{{image.image_caption|safe}}{% endautoescape %}</li>
        <a href="comment/{{image.id}}">View comment</a>
      </ul>
    </div>

    </div>
</div>
{% endfor %}
{% endblock %}